@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    background-color: #f2f4f8;
    height: 100%;
}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}
